.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 30px;
}

.u-section-1 .u-image-1 {
  width: 613px;
  height: 613px;
  margin: 61px auto 0 247px;
}

.u-section-1 .u-text-1 {
  width: 876px;
  margin: -623px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -550px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -350px;
  }
}