.u-section-1 .u-sheet-1 {
  min-height: 2807px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px auto 0 26px;
}

.u-section-1 .u-gallery-1 {
  height: 585px;
  width: 543px;
  margin: 99px auto 0 9px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  height: 585px;
  margin-left: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 17px;
  width: 40px;
  height: 40px;
  top: 264px;
  right: auto;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-gallery-2 {
  height: 585px;
  width: 561px;
  margin: -585px 9px 0 auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  height: 585px;
  margin-left: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 18px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 18px;
  padding: 10px;
}

.u-section-1 .u-form-1 {
  height: 1352px;
  width: 877px;
  margin: 52px auto 60px;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-label-10 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-17 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3112px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
    margin-left: 42px;
    padding: 10px 30px 11px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 117px;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: -128px;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-3 {
    top: 117px;
  }

  .u-section-1 .u-carousel-control-4 {
    top: 117px;
  }

  .u-section-1 .u-form-1 {
    width: 438px;
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3386px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3077px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3439px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 12px;
  }

  .u-section-1 .u-form-1 {
    height: 1860px;
    margin-top: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}